.product-set-table {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.product-set-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

.product-set-header {
    border-bottom: 2px dotted;
    padding-bottom: 4px;
}

.product-set-item .name {
    width: 30%;
    text-decoration: underline;
}

.product-set-header .name {
    text-decoration: none;
}

.product-set-item .size {
    width: 25%;
}

.product-set-item .price {
    width: 10%;
}

.product-set-item .quantity {
    width: 20%;
    margin: 0 !important;
    text-align: center;
    position: static;
}

.cart-product .wrapper-product-info .container-specs .list-specs {
    flex-grow: 1;
}

.cart-product {
    align-items: flex-start;
}

.product-set-item .quantity .container-input-quantity {
    margin: 0;
}

.product-set-item .quantity .container-input-quantity input {
    width: 100%;
    font-size: clamp(12px, 1.6rem, 1.6rem);
    border: none;
    height: 4rem;
}

.product-set-item .quantity .container-input-quantity .plus,
.product-set-item .quantity .container-input-quantity .minus {
    padding: 1.25rem;
}

.product-set-item .quantity .container-input-quantity .plus:hover:before,
.product-set-item .quantity .container-input-quantity .minus:hover:before {
    transform: translate(-50%, -50%) scale(1);
}

@media only screen and (max-width: 1025px) {
    .product-set-item {
        font-size: 1.4rem;
    }

    .product-set-header {
        font-size: 1.6rem;
    }
}