.list-pinterest>span {
    min-width: 100% !important;
    max-width: 100% !important;
    display: flex;
}

.list-pinterest>span>span:nth-child(1) {
    display: none;
}

.list-pinterest>span>span:nth-child(3) {
    display: none;
}

.insta-feed,
.list-blog-lets-get-social {
    height: 100% !important;
    max-height: 55vh !important;
    overflow-x: hidden;
}

.list-pinterest>span>span:nth-child(2) {
    height: 100% !important;
    max-height: 55vh !important;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
    .list-pinterest>span>span:nth-child(2) {
        max-height: 40vh !important;
    }

    .insta-feed,
    .list-blog-lets-get-social {
        max-height: 40vh !important;
    }
}

.insta-feed::-webkit-scrollbar-thumb,
.list-blog-lets-get-social::-webkit-scrollbar-thumb {
    cursor: pointer;
}

.container-contact.form-success:not(.formError) .form-contact {
    opacity: 0.2;
    pointer-events: none;
    -webkit-transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
    transition-delay: 0s;
}

.container-newsletter.form-success .form-newsletter {
    opacity: 0.2;
    pointer-events: none;
}

.container-newsletter.form-success .feedback-newsletter {
    position: absolute;
    top: 55%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-1);
}

.container-newsletter.form-success .feedback-newsletter {
    position: absolute;
    top: auto;
    right: auto;
    bottom: -3rem;
    left: 0;
    color: var(--white-1);
}

.container-newsletter.formError .feedback-newsletter {
    position: absolute;
    top: auto;
    right: auto;
    bottom: -3rem;
    left: 0;
    color: var(--white-1);
}

.container-newsletter.letter-success .form-newsletter {
    opacity: 0.2;
    pointer-events: none;
}

.container-newsletter.letter-success .feedback-newsletter {
    position: absolute;
    top: 55%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-1);
}

.capitalize {
    text-transform: lowercase;
}

.capitalize:first-line {
    text-transform: capitalize;
}

@media only screen and (min-width: 1025.1px) {

    [data-pg=pg-my-account] #footer,
    [data-pg=pg-my-account-saved-products] #footer,
    [data-pg=pg-my-account-change-password] #footer,
    [data-pg=pg-my-account-quotes-history] #footer {
        display: block;
    }
}

.menu-search .wrapper-search .container-results .btn-border-blue {
    opacity: 1;
}

.hidden {
    display: none;
}

.menu-search .wrapper-search .container-results .result-all-studios .list-result-all-studios .grid-item .link-studios:not(.active) {
    background-color: white;
    color: #0f41fa;
}

.menu-search .wrapper-search .container-results .result-all-studios .list-result-all-studios .grid-item .link-studios:not(.active):before {
    color: #0f41fa;
}

.menu-search .wrapper-search .container-results .result-all-studios .list-result-all-studios .grid-item .link-studios.disabled {
    background: var(--gray-3);
    color: white;
    user-select: none;
    pointer-events: none;
}

.menu-search .wrapper-search .container-results .result-all-studios .list-result-all-studios .grid-item .link-studios.disabled:before {
    color: white;
}

.menu-search .wrapper-search .container-results .result-our-markets .market-link.disabled {
    user-select: none;
    pointer-events: none;
}

.menu-search .wrapper-search .container-results .result-our-markets .market-link.disabled:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    background: var(--white-2) !important;
    z-index: 5;
    opacity: 0.8;
    border-radius: 2rem;
}

.result-our-markets .grid-item.active .market-link.project-link .container-text {
    color: #0f41fa;
}

.mt-3-cs {
    margin-top: 3rem;
}

/* remove #pg-category from app.css */